<h1>Your movies:</h1>

<form action="/logout" method="get">
    <input type="submit" value="Log Out">
</form>

<% if @movies %>
    <li><% @movies.each do |movie| %>
        <h2>
            <%= movie.title %>

            <form action="/movies/<%= movie.id %>/edit" method="get">
                <input type="submit" value="Edit">
            </form>
            
            <form method="post" action="/movies/<%= movie.id %>">
                <input id="hidden" type="hidden" name="_method" value="delete">
                <input type="submit" value="Delete">
            </form>
        </h2>

        </span>

        <span><strong>Genres:</strong></span>

        <br><br>

        <% movie.genres.each do |genre| %>
            <li><%= genre.name %></li>
        <% end %>

        <br>

        <span><strong>Actors:</strong></span>

        <br><br>

        <% movie.actors.each do |actor| %>
            <li><%= actor.name %></li>
        <% end %>

        <br>
    <% end %></li>
<% end %>


<form action="/movies/new" method="get">
    <input type="submit" value="Add Movie">
</form>